
    <div id="sidr" class='hidden'>
        <ul>
            <li>
                <a id="close-menu-button" href="#"><img src='/images/X.png' alt='side menu image'></a>
            </li>
            <li class='menuheading side'> Your <br> best <br> weather <br> app</li>

            <li class='menuheading side purple'>&mdash;</li>
            <li><a href="#" class='menu'>team</a></li>
            <li><a href="#" class='menu'>history</a></li>
            <li><a href="#" class='menu'>contact</a></li>
        </ul>
        <ul>
            <li class='menufooter side purple'> Suggest to a friend</li>
            <li>
                <a href="http://www.facebook.com/sharer.php?u=https://www.pageToShare.com" class="inline" style='padding-right:0;'><i class="fa fa-facebook fa-2x purple" aria-hidden="true"></i></a>

                <a href="http://twitter.com/home?status=myPostTitle+https://www.pageToShare.com" class="inline" style='padding:0 5px; '><i class="fa fa-twitter fa-2x purple" aria-hidden="true"></i></a>

                <a href="https://plus.google.com/share?url=https://www.pageToShare.com" class="inline" style='padding-left: 0;'><i class="fa fa-google-plus fa-2x purple" aria-hidden="true"></i></a>

            </li>
        </ul>
    </div>

<div id="overlay"></div>
