<body class='redBack'>
 
    {{#section 'leftMenu'}} 
   
        {{> leftMenu}} 

    {{/section}}
    
    <a id="simple-menu" class="menu-buttonRed hidden" href="#sidr"></a>

    <div class='container hidden' id='second'>
        <div class='row row8'>
            <div class='col-xs-12 center-block'>
                <img class='center-block marTop20' src='images/umbrella.png' alt='umbrella'>
            </div>
        </div>
        <div class='row row29'>

        </div>
        <div class='row row6'>
            <div class='col-xs-12 center-block'>
                <h4 class='text-center newWhite'>type a location</h4>
            </div>
        </div>
        <div class='row row6 marTop10'>
            <div class='col-xs-12 text-center'>
                <div class="input-group" style=''>

                    <input type="text" class="form-control" placeholder="type here.." id='cityName' style=''>
                    <span class="input-group-btn">
                            <button class="btn btn-default" id='hit' style='margin:2px;' >
                               <i class="fa fa-search purple" aria-hidden="true" >
                         </i>
                            </button>
                        </span>
                </div>
            </div>
        </div>
        <div class='row row6 marTop20'>
            <div class='col-xs-12 center-block'>
                <h4 class='text-center newWhite'> or give us your location </h4>
            </div>
        </div>
        <div class='row row6 marTop10'>
            <div class='col-xs-12 center-block'>
                <button class='locationButton center-block' id='geolocate'><i class="fa fa-paper-plane" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; access location</button>
            </div>
        </div>



    </div>

    <div class='container' id='first'>
        <div class='row loaderTop'>

        </div>
        <div class='row loaderMain'>
            <div class='col-xs-12 center-block'>
                <img class='center-block marTopBig' src='/images/umbrella2.png' alt='umbrella'>
            </div>
            <div class='col-xs-12'>
                <h3 class='text-center'>umbrellapp</h3>
            </div>
        </div>
    </div>

    

</body>