input::-webkit-input-placeholder {
    color: rgb(112, 255, 145) !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: rgb(112, 255, 145) !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgb(112, 255, 145) !important;
}

input:-ms-input-placeholder {
    color: rgb(112, 255, 145)!important;
}

.menu {
    font-size: 150% ! important;
    color: rgb(169, 112, 255) !important;
    font-weight: 500 ! important;
}

.menuheading {
    font-size: 150% ! important;
    padding: 3vh 0;
}

.menufooter {
    font-size: 120% ! important;
    padding: 3vh 15px 0px 10px ! important;
    color: rgb(169, 112, 255) !important;
}

html,
body,
.container-fluid,
.container {
    height: 99%;
}

.locationButton {
    width: 180px;
    height: 35px;
    background-color: rgb(112, 255, 145);
    font-size: 16px;
    padding-left: 2vmin;
    border-width: 0px;
    color: rgb(169, 112, 255);
    font-weight: 600;
    box-shadow: 5px 5px 5px rgb(221, 96, 96);
}
.row4{
    height: 4%;
}

.row6 {
    height: 6%;
}

.row8 {
    height: 8%;
}

.row12 {
    height: 12%;
}

.row29 {
    height: 29%;
}

.marTop10 {
    margin-top: 10px;
}

.marTop20 {
    margin-top: 20px;
}

.newWhite {
    color: rgb(240, 240, 240);
}

.hidden {
    display: none;
}

.loaderTop {
    height: 35%;
}

.loaderMain {
    height: 25%;
}

.red {
    color: rgb(169, 112, 255);
}
.redBack {
    background-color: rgb(255, 112, 112);
}

.purple {
    color: rgb(169, 112, 255) ! important;
}

.purpleBack {
    background-color: rgb(169, 112, 255);
}

.maxTemp{
    color:rgb(112,255,145);
}

.minTemp{
    color:rgb(133,202,185);
}

.inline {
    display: inline ! important;
}

.input-group {
    width: 200px;
    display: inline-block;
    background: rgb(169, 112, 255);
    box-shadow: 5px 5px 5px rgb(221, 96, 96);
}
.side{
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #fff;
}
#cityName {
    width: 150px;
    margin: 2px;
    display: inline-block;
    background: rgb(169, 112, 255);
    border: 0px;
    font-size: 18px;
    color: rgb(112, 255, 145);
}

#today {
    color:rgb(130,209,180)
}

